# Ignore unnecessary files
railwayAPI
.env
__pycache__
*.pyc
*.pyo
*.pyd
.vscode
*.egg-info
*.egg
*.log
*.sqlite3
*.cpython-*.pyc
__pycache__/main.cpython-39.pyc
__pycache__/*
*/__pycache__/user.cpython-39.pyc
*/__pycache__/*
